[submodule "plugins/golem15/apparatus"]
	path = plugins/golem15/apparatus
	url = git@github.com:golem15com/oc-apparatus-plugin.git
	branch = master
[submodule "plugins/golem15/ai"]
	path = plugins/golem15/ai
	url = git@github.com:golem15com/wn-ai-plugin.git
	branch = master
[submodule "plugins/golem15/blog"]
	path = plugins/golem15/blog
	url = git@github.com:golem15com/wn-blog-plugin.git
	branch = master
[submodule "plugins/golem15/bloghub"]
	path = plugins/golem15/bloghub
	url = git@github.com:golem15com/wn-bloghub-plugin.git
	branch = master
[submodule "plugins/golem15/chat"]
	path = plugins/golem15/chat
	url = git@github.com:golem15com/wn-chat-plugin.git
	branch = master
[submodule "plugins/golem15/dualformfield"]
	path = plugins/golem15/dualformfield
	url = git@github.com:golem15com/wn-dualformfield-plugin.git
	branch = master
[submodule "plugins/golem15/faq"]
	path = plugins/golem15/faq
	url = git@github.com:golem15com/wn-faq-plugin.git
	branch = master
[submodule "plugins/golem15/github"]
	path = plugins/golem15/github
	url = git@github.com:golem15com/wn-github-plugin.git
	branch = master
[submodule "plugins/golem15/knobwidget"]
	path = plugins/golem15/knobwidget
	url = git@github.com:golem15com/wn-knobwidget-plugin.git
	branch = master
[submodule "plugins/golem15/menu"]
	path = plugins/golem15/menu
	url = git@github.com:golem15com/wn-menu-plugin.git
	branch = master
[submodule "plugins/golem15/paymentgateway"]
	path = plugins/golem15/paymentgateway
	url = git@github.com:golem15com/wn-paymentgateway-plugin.git
	branch = master
[submodule "plugins/golem15/pgstripe"]
	path = plugins/golem15/pgstripe
	url = git@github.com:golem15com/wn-pgstripe-plugin.git
	branch = master
[submodule "plugins/golem15/quote"]
	path = plugins/golem15/quote
	url = git@github.com:golem15com/wn-quote-plugin.git
	branch = master
[submodule "plugins/golem15/seo"]
	path = plugins/golem15/seo
	url = git@github.com:golem15com/wn-seo-plugin.git
	branch = master
[submodule "plugins/golem15/sitemanager"]
	path = plugins/golem15/sitemanager
	url = git@github.com:golem15com/wn-sitemanager-plugin.git
	branch = master
[submodule "plugins/golem15/sitemap"]
	path = plugins/golem15/sitemap
	url = git@github.com:golem15com/wn-sitemap-plugin.git
	branch = master
[submodule "plugins/golem15/translate"]
	path = plugins/golem15/translate
	url = git@github.com:golem15com/wn-translate-plugin.git
	branch = master
[submodule "plugins/golem15/user"]
	path = plugins/golem15/user
	url = git@github.com:golem15com/wn-user-plugin.git
	branch = master
[submodule "plugins/golem15/websockets"]
	path = plugins/golem15/websockets
	url = git@github.com:golem15com/wn-websockets-plugin.git
	branch = master
