<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage>
        <include>
            <directory suffix=".php">./modules/</directory>
        </include>
        <exclude>
            <file>./modules/backend/routes.php</file>
            <file>./modules/cms/routes.php</file>
            <file>./modules/system/routes.php</file>
            <directory suffix=".php">./modules/backend/database</directory>
            <directory suffix=".php">./modules/cms/database</directory>
            <directory suffix=".php">./modules/system/database</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Winter CMS Test Suite">
            <directory>./modules/system</directory>
            <directory>./modules/cms</directory>
            <directory>./modules/backend</directory>
        </testsuite>
        <testsuite name="Golem15.Apparatus">
            <directory>./plugins/golem15/apparatus/tests</directory>
        </testsuite>
        <testsuite name="Golem15.PaymentGateway">
            <directory>./plugins/golem15/paymentgateway/tests</directory>
        </testsuite>
        <testsuite name="Golem15.User">
            <directory>./plugins/golem15/user/tests</directory>
        </testsuite>
        <testsuite name="Golem15.Translate">
            <directory>./plugins/golem15/translate/tests</directory>
        </testsuite>
        <testsuite name="Golem15.Backend">
            <directory>./plugins/golem15/backend/tests</directory>
        </testsuite>
        <testsuite name="Golem15.Chat">
            <directory>./plugins/golem15/chat/tests</directory>
        </testsuite>
        <testsuite name="Golem15.DualFormWidget">
            <directory>./plugins/golem15/dualformwidget/tests</directory>
        </testsuite>
        <testsuite name="Golem15.FAQ">
            <directory>./plugins/golem15/faq/tests</directory>
        </testsuite>
        <testsuite name="Golem15.GitHub">
            <directory>./plugins/golem15/github/tests</directory>
        </testsuite>
        <testsuite name="Golem15.Golem">
            <directory>./plugins/golem15/golem/tests</directory>
        </testsuite>
        <testsuite name="Golem15.Journal">
            <directory>./plugins/golem15/journal/tests</directory>
        </testsuite>
        <testsuite name="Golem15.KnobWidget">
            <directory>./plugins/golem15/knobwidget/tests</directory>
        </testsuite>
        <testsuite name="Golem15.PgStripe">
            <directory>./plugins/golem15/pgstripe/tests</directory>
        </testsuite>
        <testsuite name="Golem15.Quote">
            <directory>./plugins/golem15/quote/tests</directory>
        </testsuite>
        <testsuite name="Golem15.Sitemap">
            <directory>./plugins/golem15/sitemap/tests</directory>
        </testsuite>
        <testsuite name="Golem15.WebSockets">
            <directory>./plugins/golem15/websockets/tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
